// Buttons
// -------------------------

	@btn-default-color: 	@brand-primary;
	@btn-default-border: 	@brand-primary;
	@btn-default-bg: 		  rgba(0,0,0,0);

	.btn {
		border-width: 2px;
		border-color: transparent;
    .transition(background, 0.2s, ease);
    
    .button-size(10px, 3px, 15px, 25px, 4px);
    padding-bottom: 10px;

		&:hover {
			border-color: transparent;
		}
		small {
			color: white;
			font-size: 100%;
		}

    &.btn-default {
      border-color: @brand-primary;

      &:hover {
        background: lighten(@brand-primary, 50%);
        border-color: darken(@brand-primary,10);
      }
    }

    &.btn-secondary {
      .btn-primary;
      background: @brand-secondary;
      border-color: @brand-secondary;

      &:hover {
        background: darken(@brand-secondary, 10%);
        border-color: darken(@brand-secondary, 10%);        
      }
    }

	}

  // button sizes 
  	.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  		padding: @padding-vertical - 2 @padding-horizontal + 15;
  		padding-bottom: @padding-vertical;
  		font-size: @font-size;
  		line-height: @line-height;
  		border-radius: @border-radius;
  		@media (max-width: @screen-xs-max) {
  			padding: @padding-vertical @padding-horizontal + 5;
  		}
  	}

    .btn-lg {
      .button-size(16px, 21px, 16px, 21px, 4px);
    }
    
    .btn-sm {
      .button-size(7px, 7px, 13px, 21px, 4px);
    }

    .btn-xs {
      .button-size(5px, 5px, 12px, 21px, 4px);
    }
    
  // button groups
    .btn-group, .btn-group-justified {
      
      .btn-default {
        border-left: 1px solid @brand-primary;

        &:first-child {
          border-left: 2px solid @brand-primary;
        }
        &:last-child {
          border-right: 2px solid @brand-primary;
        }
      }

      .btn-group {
        .btn-default {
          border-left: 1px solid @brand-primary;        
        }
      }
    }

    .btn-group-vertical {

      .btn-default {
        border: 2px solid @brand-primary;
        border-bottom: 1px solid @brand-primary;

        &:first-child {
          border-top: 2px solid @brand-primary;
        }
        &:last-child {
          border-bottom: 2px solid @brand-primary !important;
        }
      }

      .btn-group:last-child {
        .btn-default {
          &:first-child {
            border-bottom: 2px solid @brand-primary !important;
          }
        }
      }
    }

    .input-group {
      &.secondary {
        input[type="text"] {
          &:hover, &:focus {
            border-color: @brand-secondary;  
          }
        }
      }
    }

  // button addons
    .input-group-btn {
      .btn {
        .button-size(12px, 3px, 15px, 21px, 4px);
      }

      .btn-default {
        &:first-child {
          border-right: 0px;
        }
      }
    }