// Colors
// -------------------------

  @magenta      :      #DA1C69;
  @purple       :      #7E2A8D;
  @green        :      #03CEA0;
  @cyan         :      #02B6E6;
  @orange       :      #F54627;
  @yellow       :      #FCDA0E;
  
  @brand-primary: 	   @magenta;
  @brand-secondary:    @purple;
  @brand-success: 	   @green;
  @brand-warning: 	   @yellow;
  @brand-danger :  	   @orange;
  @brand-info   :  		 @cyan;
  
  @state-danger-text : @brand-danger;
  @state-danger-bg   : @brand-danger;
  @state-success-text: @brand-success;
  @state-success-bg  : @brand-success;
  
  @gray-lighter: 		   #F8F8F8;
  @gray-light  : 		   #F4F4F4;
  @gray        :       #C9C9C9;
  @gray-dark   :       #999999;
  @black       :       #5C5C5C;
  
  @link-color  :       @brand-info;