// Forms
// -------------------------


  // input groups
  
    .input-group {
      .input-group-addon {
        border-color: #ddd;
      }
    }


	label {
		font-size: 14px;
		font-weight: 400;
		width: 100%;
		white-space: nowrap;
		&:after { content: '\00a0' }
		&.control-label {
			small {
				font-size: 12px;
				font-weight: 100;
				margin-left: 7px;	
				opacity: 0.5;
				position: relative;
				top: -1px;
			}
		}
	}

	.label-fill {
    input[type="radio"] { display: none }
		display: table;
		width: 100%; height: 73px;
		padding: 0;
		background: @gray-lighter;
		color: @black;
		font-size: 15px;
		line-height: 18px;
		border-radius: 5px;
		.transition (0.2s ease-out);
		&:hover {
			background: mix(@gray-lighter, @brand-info, 95%);
			.inactive & {
				background: @gray-lighter;
				cursor: no-drop;
			}
		}
		> div {
			display: table-cell;
			vertical-align: middle;
			white-space: nowrap;
      &:last-child {
        text-align: right;
        padding-right: 10px;
      }
      &:first-child {
        padding-left: 22px;
        text-align: left;
      }
			&.type {
        text-align: left;
				position: relative;
        padding-left: 15px;
				top: -1px;
        line-height: 26px;
        #accepted-cards-images {
          @media (min-width: @screen-lg) {
            height: 0;
            line-height: 23px;
            float: right;
          }
          vertical-align: bottom;
          line-height: 13px;
          img {
            height: 17px;
            margin-right: 4px;
          }
        }
			}
      @width: 29px; @height: 25px;
      &.card, &.boleto {
        position: relative;
        top: -1px;
        width: @width;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &.card {
        .image-retina(url('../img/cartao.png'),url('../img/cartao@2x.png'),@width,20px)
      }
      &.boleto {
        .image-retina(url('../img/boleto.png'),url('../img/boleto@2x.png'),21px,@height)
      }
			&.amount {
				width: 1px;
        text-align: left;
        padding-right: 0;
				font-weight: 100;
				font-size: 16px;
				@media (max-width: @screen-xs-max) {
					font-size: 14px;
				}
			}
			small {
				@media (max-width: @screen-xs-max) {
					font-size: 11px;
				}
			}
		}
    &.radio > div:first-child {
      width: 70px;
      @media (max-width: @screen-xs-max) {
      width: 50px;
      padding-right: 5px;
      }
      padding-left: 2px;
      text-align: center;
    }
	}
	
  .input-radio {
		.fa; .fa-check;

		display: block;
		position: relative;
		left: 0; right: 0; margin: 0 auto;
		overflow: hidden;

		@size: 24px;
		width: @size !important;
		height: @size;
		top: 0;
		vertical-align: middle;

		box-shadow: inset 0 0 0 2px @brand-info;
		border-radius: 50%;
		color: @brand-info;

		.transition (0.2s ease-out);

		&:before {
			.translate (0, -100%);
			font-size: 11px;
			line-height: @size + 1px;
			position: absolute;
			margin: 0 auto; left: 0; right: 0;

			.transition (0.2s ease-out);
		}

		.radio:active & {
			background: fade(@brand-info, 50%);
			.inactive & {
				background: none;
			}
		}

		.checked & {
			text-align: center;
			&:before {
				.translate (0, 0);
			}
		}

		&:focus {
			outline: none;
		}

		.inactive & {
			box-shadow: inset 0 0 0 2px lighten(@black,40);
		}
	}

	.form-control {
		padding-top: @padding-base-vertical - 3;
		font-size: 16px;
		line-height: 1;
		font-weight: 100;
		color: @black;
		background: @gray-lighter;
		border-color: #ddd;
		box-shadow: none !important;
		-webkit-appearance: none;
		&:focus {
			border-color: @brand-primary;
			box-shadow: none !important;
			outline: none !important;
      background: #fff;
		}

    &:hover {
      border-color: @brand-primary;
    }

		&:disabled {
			background: darken(@gray-lighter,3);
		}

    &::-webkit-input-placeholder {
       color: #999;
       line-height: 25px;
       .opacity(0.6);
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #999;
       line-height: 25px;
       .opacity(0.6);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: #999;
       line-height: 25px;
       .opacity(0.6);
    }

    &:-ms-input-placeholder {  
       color: #999;
       line-height: 25px;
       .opacity(0.6);
    }
	}

	.form-inline {
		select.form-control {
			width: 100%;
		}
		.form-group {
			margin-bottom: 15px;
		}
	}

	.form-section {
		margin-bottom: 50px;
	}

	select.form-control, select.form-control:focus {
		.image-retina (url('../img/select.png'),url('../img/select@2x.png'),14px,9px);
		background-position: right 10px center;
		background-repeat: no-repeat;
	}

	.col-xs-6 {
		z-index: 100;
	}

  // iCheck plugin Flat skin, purple
  // -----------------------------------

    .icheckbox,
    .iradio {
        display: inline-block !important;
        *display: inline !important;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        background: fade(@brand-secondary, 20%);
        border: none;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        .transition(width, 0.1s, ease);

    }

    .icheckbox {

      &:hover {
        background: fade(@brand-secondary, 40%);
      }

      &.checked {
        .fa; .fa-check;
        line-height: 20px;
        background: @brand-secondary;
        color:#fff;
        position: relative;
        text-align: center;
      }
  
      &.disabled {
        background: darken(@brand-secondary, 10%);
        cursor: not-allowed;
      }
      
      &.checked.disabled {
        background-position: -66px 0;
      }
    }

    .iradio {
      background: transparent;
      border: 2px solid fade(@brand-secondary, 20%);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;

      &:hover {
        border: 2px solid fade(@brand-secondary, 50%);
      }

      &.checked {
        .fa; 
        .fa-circle;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        border: 2px solid @brand-secondary;
        color:@brand-secondary;
      }

      &.disabled {
        border: 2px solid #aaa;
        background: #ddd;
        cursor: not-allowed;
      }
      
      &.checked.disabled {
      }

    }

    // firefox fixes

    @-moz-document url-prefix() {
        .label-fill > div.type #accepted-cards-images {
          margin-top: -27px;
          @media (max-width: @screen-md-max) {
            margin-top: 0 !important;
          }
        }
    }

    // /* Retina support */
    // @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    //        only screen and (-moz-min-device-pixel-ratio: 1.5),
    //        only screen and (-o-min-device-pixel-ratio: 3/2),
    //        only screen and (min-device-pixel-ratio: 1.5) {
    //     .icheckbox,
    //     .iradio {
    //         background-image: url('../img/purple@2x.png');
    //         -webkit-background-size: 176px 22px;
    //         background-size: 176px 22px;
    //     }
    // }


    // .icheckbox,
    // .iradio {
    //     display: inline-block !important;
    //     *display: inline !important;
    //     vertical-align: middle;
    //     margin: 0;
    //     padding: 0;
    //     width: 20px;
    //     height: 20px;
    //     background: url('../img/purple.png') no-repeat;
    //     border: none;
    //     cursor: pointer;

    // }

    // .icheckbox {
    //     background-position: 0 0;
    // }
    //     .icheckbox.checked {
    //         background-position: -22px 0;
    //     }
    //     .icheckbox.disabled {
    //         background-position: -44px 0;
    //         cursor: default;
    //     }
    //     .icheckbox.checked.disabled {
    //         background-position: -66px 0;
    //     }

    // .iradio {
    //     background-position: -88px 0;
    // }
    //     .iradio.checked {
    //         background-position: -110px 0;
    //     }
    //     .iradio.disabled {
    //         background-position: -132px 0;
    //         cursor: default;
    //     }
    //     .iradio.checked.disabled {
    //         background-position: -154px 0;
    //     }

    // /* Retina support */
    // @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    //        only screen and (-moz-min-device-pixel-ratio: 1.5),
    //        only screen and (-o-min-device-pixel-ratio: 3/2),
    //        only screen and (min-device-pixel-ratio: 1.5) {
    //     .icheckbox,
    //     .iradio {
    //         background-image: url('../img/purple@2x.png');
    //         -webkit-background-size: 176px 22px;
    //         background-size: 176px 22px;
    //     }
    // }