// Typography
// -------------------------

	@font-family-sans-serif:  Soleil, "Helvetica Neue", Helvetica, Arial, sans-serif;
	@font-size-base: 15px;
	@font-size-h1: 26px;
	@font-size-h2: 18px;

	* {
		-webkit-font-smoothing: subpixel-antialiased;
	}

	h1 {
		font-weight: 100;
	}

	h2 {
		font-weight: 500;
		color: @brand-warning;
		margin: 21px 0;
	}

	a {
		position: relative;
		&:hover {
			color: @brand-info;
			text-decoration: none;
		}
	}

	b {
		font-weight: 500;
	}

	small {
		font-weight: 100;
		color: @gray-dark;
	}

	p {
		font-weight: 100;
		font-size: 13px;
		color: @black;
	}